<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    
    <!-- <div class="grid-container">
        <div class="sidebar">
            sidebar
        </div>
        <div class="main">
main
        </div>
    </div> -->

    <div class="grid-container">
        <div class="header">
            Header
        </div>
        <div class="leftsider">Left Side Bar</div>
        <div class="main">Main Content</div>
        <div class="rightSider">
            Right Side Bar
        </div>
        <div class="footer">
            footer
        </div>
    </div>
</body>
</html>